import { property, nat } from 'jsverify'

const datetime = nat.smap(
  n => new Date(n * 768000000), // f: generator
  d => d.getTime() / 768000000, // g: shrink, f(g(y)) = y for every y
  d => d.toString()             // show
)

describe('Arbitrary datetime with smap', () => {
  property('generates dates', datetime, d => d instanceof Date)

  // This will fail:
  property('generates future dates', datetime, d => d > new Date())
})