import { property, nat, bless } from 'jsverify'

const datetime = bless({
  generator: nat(Number.MAX_SAFE_INTEGER).generator.map(n => new Date(n * 3600))
  // No shrinker!
})

describe('Arbitrary datetime with bless', () => {
  property('generates dates', datetime, d => d instanceof Date)

  // This will fail, but notice how the unshrunk value is less helpful:
  property('generates past dates', datetime, d => d < new Date())
})