import { property, nat } from 'jsverify'

const datetime = nat(Number.MAX_SAFE_INTEGER).smap(
  n => new Date(n * 3600), // f: generator
  d => d.getTime() / 3600, // g: shrink, f(g(y)) = y for every y
  d => d.toString()        // show
)

describe('Arbitrary datetime with smap', () => {
  property('generates dates', datetime, d => d instanceof Date)

  // This will fail:
  property('generates past dates', datetime, d => d < new Date())
})